body {
  background-color: light gray;
}

h1 {
  color: red;
  font-family: "Times New Roman";
}

 p {
  color: white;
  font-family: :Times New Roman";
 }
 
 a {
   color: white;
  background-color: light blue;
 }