body {
  background-color: blue;
}

h1 {
  color: red;
  font-family: "Times New Roman";
}

 p {
  color: white;
  font-family: :Times New Roman";
 }
 
 a {
   color: black;
  background-color: grey;
 }
